.user-roles__table {
    padding: 20px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.role-tree {
    height: 100%;
    font-size: 18px !important;
    font-weight: 500; 
    max-height: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #f0f2f5;
}

span.ant-tree-node-content-wrapper {
    padding: 10px;
    border-radius: 10px;
}
