

.dashboard-filter__action {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.dashboard-filter__header {
  margin-bottom: 25px;
}

.dashboard-carousel {
  width: 100%;
}

.dashboard-carousel__card {
  width: 250px;
  height: 160px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
