.be-card-title-statistic {
  margin-bottom: 16px;
}

.be-card-title-statistic__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.be-card-title-statistic__subtitle {
  font-size: 30px;
  color: black;
}

.be-card-title-statistic__detail {
  font-size: 17px;
  font-weight: 500;
  margin-left: 15px;
}

.be-card-title-statistic__btn {
  outline: none;
  border: none;
  background-color: white;
  text-align: left;
  cursor: pointer;
}
